/* --------------------------------------------- General CSS */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1.2rem;
}

/* --------------------------------------------- Colours */

span {
    color: #ec5353;
}

/* --------------------------------------------- Navbar */

.navbar {
    background: #000000;
    color: #fafafa;
}

.navbar-brand {
    color: #fafafa;
    font-family: 'Raleway', sans-serif;
}

.navbar-brand:hover {
    color: #fafafa;
}

.nav-item .active {
    color: #ec5353 !important;
    text-decoration: underline;
}

.nav-link {
    color: #fafafa;
    text-transform: uppercase;
    font-family: sans-serif;
}

.nav-link:hover {
    color: #ec5353;
}

.navbar-toggler {
    background: #ec5353;
}

/* --------------------------------------------- Section */

.main {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/pexels-scott-webb-28054.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 90vh;
}

.main h1 {
    font-size: 4rem;
    font-weight: 800;
}

.btn1 {
    height: 55px;
    font-weight: 500;
    width: 140px;
    color: #fafafa;
    outline: none;
    border: none;
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
    transition: 1s;
}

.btn1:hover {
    background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
    transition: all 1s;
}

/* --------------------------------------------- Details */

.details {
    margin-top: -40px;
}

.details .card {
    border: 4px solid #000000;
    height: 100%;
}

.details h5 {
    text-decoration: underline;
    font-weight: 800;
    color: #000000;
    font-size: 2rem;
    text-align: center;
}

.details p {
    text-align: justify;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 20px;
}

.back:hover {
    color: #fafafa;
    cursor: pointer;
}

.back {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 1s;
}

.back::before {
    content: "";
    position: absolute;
    height: 0px;
    width: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
    z-index: -1;
    transition: all 1s;
}

.back:hover::before {
    height: 100%;
}


.back:hover h5, a{
    color: #fafafa;
    cursor: pointer;
}

/* --------------------------------------------- More */

.more {
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
}

.more h2{
    font-weight: 800;
    text-decoration: underline 5px #ec5353;
}

.more p {
    margin-top: 30px;
    text-align: justify;
    font-weight: 400;
    text-transform: uppercase;
}

/* --------------------------------------------- Discover */

.discover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/pexels-pavel-danilyuk-6296020.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 85vh;
}

.discover h1 {
    font-weight: 800;
    font-size: 3rem;
}

.modal-body, .modal-title {
    color: #000000;
    text-align: left;
}

/* --------------------------------------------- Services */

.services h1 {
    font-weight: 800;
    text-decoration: underline 5px #ec5353;
}

.services h5 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #000000;
}

.services .card-body {
    font-size: 3rem;
    color: #000000;
}

/* --------------------------------------------- Classes */

.classes h1 {
    font-weight: 800;
    text-decoration: underline 5px #ec5353;
}

.classes p {
    font-weight: 400;
    text-transform: uppercase;
}

.classes h3 {
    text-decoration: underline;
}

.classes .card {
    border: none;
}

.classes img {
    max-height: 350px;
    object-fit: cover;
}

.classes .card {
    border: 4px solid #000000;
    margin-bottom: 20px;
}

.card-body {
    min-height: 42vh;
}

/* --------------------------------------------- Contact-us */
.contact-us {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/pexels-victor-freitas-791763.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 80vh;
}

.contact-us h1 {
    font-weight: 800;
    font-size: 3rem;
    padding-top: 80px;
}

/* --------------------------------------------- Footer */

footer {
    background-color: #323131;
    color: #fafafa;
}

footer h5 {
    font-weight: 800;
    font-size: 2rem;
    color: #ec5353;
    text-decoration: underline 5px #ec5353;
}

footer h4 {
    font-weight: 800;
    font-size: 2rem;
    color: #fafafa;
}

.footer-text {
    text-align: justify;
    margin-right: 30px;
}

footer p {
    margin: 0;
    color: rgb(147, 195, 195);
}

.social {
    color: #fafafa;
    font-size: 30px;
    transition: all 0.4s;
}

.social:hover {
    color: #ec5353;
    transition: all 0.4s;
}

.link {
    transition: all 0.5s;
}

.link:hover {
    color: #ec5353;
    padding-left: 5px;
    transition: all 0.5s;
}

.fa-angle-double-right {
    font-size: 18px;
    color: rgb(147, 195, 195);
}

footer .card {
    background-color: #000000;
    border-radius: 0;
}

/* --------------------------------------------- Student-details */

.student-details {
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
}

.student-details h2{
    font-weight: 800;
    text-decoration: underline 5px #ec5353;
}

.student-details p {
    margin-top: 20px;
    text-align: justify;
    font-weight: 400;
}

/* --------------------------------------------- Student-offer */

.student-offer {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/pexels-leon-ardho-1552252.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}
    
.student-offer h1 {
    font-weight: 800;
    font-size: 3rem;
    padding-top: 80px;
}


/* --------------------------------------------- Gallery */

.gallery h1 {
    font-weight: 800;
    text-decoration: underline 5px #ec5353;
    color: #ec5353;
}

.gallery {
    clear: both;
    line-height: 0; 
    column-count: 2;
    column-gap: 10px;
}

.gallery img{
    width: 100%;
    margin-bottom: 10px;
}

/* --------------------------------------------- Contact form */

.contact-form-out {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/pexels-leon-ardho-1552252.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 120vh;
}

#contactForm {
    margin: 0 auto;
    margin-top: 60px;
    color: #fafafa;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 120vh;
    position: relative;
    padding: 30px;
}