/* --------------------------------------------- General CSS */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1.2rem;
}
/* --------------------------------------------- Colours */


/* --------------------------------------------- Navbar */

.navbar {
    background: #000000;
    color: #fafafa;
}

.navbar-brand {
    color: #fafafa;
    font-family: 'Raleway', sans-serif;
}

.navbar-brand:hover {
    color: #fafafa;
}

span {
    color: #ec5353;
}

.nav-item {
    padding-right: 50px;
}

.nav-link {
    color: #fafafa;
    text-transform: uppercase;
    font-family: sans-serif;
}

.nav-link:hover {
    color: #ec5353;
}

.d-flex {
    font-family: 'Raleway', sans-serif;
    color: #ec5353;
}

.navbar-toggler {
    background: #ec5353;
}

/* --------------------------------------------- Section */

.main {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/pexels-scott-webb-28054.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.main h1 {
    font-size: 4rem;
    font-weight: 800;
}

.btn1 {
    height: 55px;
    width: 140px;
    color: #fafafa;
    outline: none;
    border: none;
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
    transition: 1s;
}

.btn1:hover {
    background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
    transition: all 1s;
}

/* --------------------------------------------- Details */

.details {
    margin-top: -50px;
}

.details h5 {
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
}

.details a {
    text-decoration: none;
    color:#ec5353;
}

.back:hover {
    color: #fafafa;
    cursor: pointer;
}

.back {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 1s;
}

.back::before {
    content: "";
    position: absolute;
    height: 0px;
    width: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
    z-index: -1;
    transition: all 1s;
}

.back:hover::before {
    height: 100%;
}


.back:hover h5, a{
    color: #fafafa;
    cursor: pointer;
}

/* --------------------------------------------- More */

.more h2{
    font-weight: 800;
    text-decoration: underline 5px #ec5353;
}

.more p {
    margin-top: 30px;
}

/* --------------------------------------------- Discover */

.discover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/pexels-pavel-danilyuk-6296020.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

.discover h1 {
    font-weight: 800;
    font-size: 3rem;
}

/* --------------------------------------------- Services */

.services h1 {
    font-weight: 800;
    font-size: 2.5rem;
    text-decoration: underline 5px #000000;
}

.services h5 {
    font-weight: 800;
    font-size: 1.5rem;
    color: #000000;
}

.services .card-body {
    font-size: 2rem;
    color: #000000;
}

/* .fa-solid {
    font-size: 1rem;
}
*/
.back:hover .fas {
    color: #fafafa;
}

/* --------------------------------------------- Classes */

.classes h1 {
    font-weight: 800;
    font-size: 2.8rem;
}

.classes .card {
    border: none;
}

.btn2 {
    margin-top: 50px;
    height: 55px;
    width: 80%;
    color: #fafafa;
    outline: none;
    border: none;
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
    transition: 1s;
}

.btn2:hover {
    background: linear-gradient(90deg, #fe9418 0%, #f5634b 100%);
    transition: all 1s;
}

/* --------------------------------------------- Footer */

footer {
    background-color: #4b4a4a;
    color: #fafafa;
}

footer h4, h5 {
    font-weight: 600;
    font-size: 30px;
    color: #ec5353;
}

footer p {
    margin: 0;
    color: rgb(147, 195, 195);
}

.social {
    color: #fafafa;
    font-size: 30px;
    transition: all 0.4s;
}

.social:hover {
    color: #ec5353;
    transition: all 0.4s;
}

.link {
    transition: all 0.5s;
}

.link:hover {
    color: #ec5353;
    padding-left: 5px;
    transition: all 0.5s;
}

.fa-angle-double-right {
    font-size: 18px;
    color: rgb(147, 195, 195);
}

footer .card {
    background-color: #000000;
    border-radius: 0;

}